/*general*/
body{
    background-image: url(./img/background2.jpg);
    
    background-repeat: cover;
    background-size: cover;
    background-position: center;
    height: 97vh;
}

main, button, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}


/*header*/
header{
    background-color: #503925;
    
    height: 100vh;
    width: 15vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
}

header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
    width: 100%;

}

.logo{
    font-family: 'Bebas Neue', cursive;
    color: #ffb429;
    font-size: 30px;
    width: 60%;
    padding: 20px 0;
    text-align: center;
}

.logo h1{
    border: solid 5px #ffb429;
    padding: 10px;
    border-radius: 3px;
}

.menu-button {
    width: 60%;
    border: solid 4px #ffb429;
    border-radius: 3px;
    color: #000000;
    background-color: #ffb429;
    font-size: 20px;
    padding: 5px 0;
    margin: 1vh 0;
    
}

.menu-button:hover{
    transform: scale(1.025);
    cursor: pointer;
    transition: 0.5s;
}

.menu-info{
    width: 60%;
    height: 10vh;
    background-color: #ffb429;
    display: none;
    border-radius: 3px;
    color: #000000;
    font-size: 18px;
    flex-direction: row;
    justify-content: center;
}

.menu-info h2{
    margin: 1vh;
}

/*main*/
main{
    
}

.area-cards{
    position: absolute;
    top: 2vh;
    left: 15vw;
    height: 95vh;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 0.5vw;
}

.card{
    height: 89vh;
    width: 25.12vw;
    border-radius: 3px;
    background-color: #E0C097;
    background-image: url("./img/antique-texture.jpg");
    margin: 0 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2vh;
    overflow: hidden;
    overflow-y: scroll;
}

.edit{
    height: 2vw;
    width: 3vw;
    color: #503925;
    border: none;
    background-color: transparent;
    font-size: 30px;
    padding: 0;
    position: relative;
    text-align: end;
    vertical-align: top;
}

.edit:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

::-webkit-scrollbar{
    background-color: #503925;
    position: absolute;
    left: 20vw;
}
::-webkit-scrollbar-thumb {
    background: #d89923;
}

.infos{
    margin-top: 1vh;
    width: 92%;
}

.info-card{
    margin-bottom: 3vh;
}

.info-card h2:nth-child(1){
    font-weight: 800;
    font-size: 2.5vh;
    color: #000000;
    margin-bottom: 1vh;
}

.info-card h2:nth-child(2){
    font-weight: 400;
    font-size: 3vh;
    color: #503925;
}

.info-text{
    height: 7vh;
}

.info-img{
    height: 25vh;
}

.card-edit{
    background-color: rgb(195, 184, 255);
    height: 93vh;
    width: 80.8vw;
    position: fixed;
    top: 0.2vh;
    left: 15.1vw;
    border-radius: 3px;
    z-index: 99;
    padding: 2vh 2vw;
    display: flex;
}

.fechar-card{
    color: #FF4C29;
    font-size: 5vh;
    position: absolute;
    right: 1vw;
    border: none;
    background-color: transparent;
}

.fechar-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

label,input{
    display: block;
    color: #082032;
}

label{
    font-size: 28px;
    font-weight: 600;
}

.card-edit input[type="text"]{
    width: 20vw;
    border: none;
    border-bottom: 1px solid #FF4C29;
    background-color: transparent;
    font-size: 24px;
    padding-top: 1vh;
}

.card-edit input[type="file"]{
    display: none;
}

.card-edit label{
    margin-bottom: 1vh;
}

.card-edit form div{
    margin-bottom: 4vh;
    width: 25vw;
}

form {
    display: flex;
}

.campo1 div{
    height: 10vh;
}

.campo2 div{
    height: 10vh;
}

.campo3 div{
    height: 10vh;
}

form button{
    width: 20.5vw;
    height: 9vh;
    background-color: #FF4C29;
    border:none;
    border-radius: 3px;
    font-size: 22px;
    color: #082032;
}

form button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.up-icon{
    font-size: 3vh;
    color: #082032;
    height: 5vh;
    background-color: #FF4C29;
    border-radius: 3px;
    width: 20.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-icon:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}


