<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>

    <title>HUNTERFY!</title>
</head>
<body style="background-image: url(img/background.jpg)">
    <header style="background-image: url(img/book-cover-resize.jpg)">
        
        <div style="width: 60%;">
            <div class="logo"><h1><img src="./img/Hunterfy.png" alt=""></h1></div>
            
        </div>

        <div style="width: 60%;">
            <div class="menu-info janela-info">
                <div>
                    <h2>State:</h2>
                    <input type="text" id="state">
                </div>
                <div>
                    <h2>County:</h2>
                    <input type="text" id="county">
                </div>
                <div>
                    <h2>Contagem:</h2>
                    <h3 class="contador">0</h2>
                </div>
                <div>
                    <h2>Username</h2>
                    <h3 id="username"><%= user %></h2>
                </div>
            </div>

            <div class="menu-info janela-logs">
                <div>
                    <h2>Logs:</h2>
                    <div class="area-logs">
                        
                    </div>
                    <button class="get-logs">Get Logs</button>
                </div>
                
            </div>

                
            <div class="buttons-window">
                <div>
                    <button class="menu-button logs-button"><i class="fas fa-clock"></i></button>
                    <button class="menu-button" id="logoff" ><i class="fas fa-power-off"></i></i></button>
                </div>
                <div>
                    <button class="menu-button info-button"><i class="fas fa-info"></i></button>
                    <button class="menu-button add-card"><i class="fas fa-plus"></i></button>
                </div>
                
            </div>
            <div class="searchcard"><input type="text" id="searchinputapp"><button id="searchbutton"><i class="fas fa-search"></i></button></div>
        </div>
            
        
    </header>
    <main>
        <div class="area-cards">
            
                <div class="root-edit">
                </div>
        </div>
    </main>
    
    <script src="./js/image-file-functions.js" async></script>
    <script src="./js/core-functions.js"></script>
    <script src="./js/getpostjson.js" async></script>
    
    <script src="./js/new-card.js" async></script>
    <script src="./js/edit-card.js" async></script>
    <script src="./js/searchbyparcelapp.js" async></script>
    
</body>
</html>