<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/managerstyle.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <title>HUNTERFY MANAGER</title>
</head>
<body>
    <header>
        <div class="janela-header">
            <div class="logo"><a href="./manager"><img src="./img/Hunterfy.png" alt="Hunterfy logo"></a><h1>MANAGER v1.0</h1></div>
            <div class="user-container">
                <h2>My user:</h2>
                <h3 id="username"><%= user %></h3>
            </div>
        </div>
    </header>
    
    <section class="countystatus-container janela">
        <div class="states-container"></div>
        <div class="counties-container"></div>
        <div class="county-info"></div>
    </section>
    
    
    <script src="js/manager-programs/countystatus.js" async></script>
</body>
</html>
