<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    

    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>

    <title>HUNTERFY!</title>
</head>
<body style="background-image: url(img/background.jpg);">
    <section class="login">
        <div class="papel"></div>
        <div class="papel papel2"></div>
        <div class="janela-login">
            <div class="logo" style="margin: 0; padding: 0;"><img src="img/Hunterfy.png" alt=""></div>
            <div>
                <form class="login-form" action="/login" method="POST">
                    <div><label for="username">LOGIN:</label><input id="user" name="username" type="text"></div>
                    <div><label for="password">PASSWORD:</label><input id="pass" name="password" type="password"></div>
                    <div class="login-button"><h2>LOGIN</h2></div>
                </form>
            </div>
                
        </div>
    </main>






    <script async>

        function getUserJson(){
            var user = document.querySelector('#user').value
            var pass = document.querySelector('#pass').value

            if(user.length !== 8){
                alert("usuario deve conter 8 digitos")
            }else{
                if(pass.length !== 8){
                    alert('senha deve conter 8 digitos')
                }else{
                    var jsonModel = `{"user":"${user}", "pass":"${pass}"}`
                    const UserPassJson = JSON.parse(jsonModel)
                    return UserPassJson
                }
            }
        }

        async function checkUserPass(json) {
            try{
                const options = {
                    method: 'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(json)
                }
                const rawResponse = await fetch('/', options)
                const content = await rawResponse.json()
                
                if(json.pass == content.password){
                    console.log('senha correta!')
                    window.location.replace("./app");
                }else{
                    alert('Incorrect data')
                }
            }
            catch(error){
                console.log(error)
            }
        }

        

        document.querySelector(".login-button").addEventListener("click", (event) => {
            event.preventDefault()
            var userPassJson = getUserJson()
            if(userPassJson == undefined){
                console.log("falta algo")
            }else{
                //console.log(userPassJson)
                checkUserPass(userPassJson)
                
            }
        })


    </script>
    
</body>
</html>