<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    

    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>

    <title>HUNTERFY!</title>
</head>
<body style="background-image: url(img/background.jpg);">
    <section class="login">
        <div class="papel"></div>
        <div class="papel papel2"></div>
        <div class="janela-login">
            <div class="logo" style="margin: 0; padding: 0;"><img src="img/Hunterfy.png" alt=""></div>
            <div>
                <form class="login-form" action="/login" method="POST">
                    <div><label for="username">LOGIN:</label><input name="username" type="text"></div>
                    <div><label for="password">PASSWORD:</label><input name="password" type="password"></div>
                    <div class="login-button"><h2>LOGIN</h2></div>

                </form>
            </div>
                
        </div>
    </main>
    <!--<script src="/js/image-file-functions.js" async></script>-->
    
    <!--<script src="js/new-card.js" async></script>
    <script src="./js/edit-card.js" async></script>-->
    <script></script>
    
</body>
</html>