<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/managerstyle.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <title>HUNTERFY MANAGER</title>
</head>
<body>
    <header>
        <div class="janela-header">
            <div class="logo"><a href="./manager"><img src="./img/Hunterfy.png" alt="Hunterfy logo"></a><h1>MANAGER v1.0</h1></div>
            <div class="user-container">
                <h2>My user:</h2>
                <h3 id="username"><%= user %></h3>
            </div>
        </div>
        
    </header>
    
    <section class="manager janela">

        <div class="manager-line">
            <h1>Tools:</h1>          
        </div>
        <div class="manager-line">
            <div class="manager-nav"><a href="./manageusers"><button><i class="fas fa-user"></i></button></a><h2>Manage Users</h2></div>
            <div class="manager-nav"><a href="./allusers"><button><i class="fas fa-id-card"></i></button></a><h2>List All Users</h2></div>
            <div class="manager-nav"><a href="./userlogs"><button><i class="fas fa-users"></i></button></a><h2>User Logs</h2></div>
            <div class="manager-nav"><button id="managerListButton"><i class="fas fa-list-ul"></i></button><h2>Parcel List</h2></div>
            <div class="manager-nav"><button id="metricsButton"><i class="fas fa-chart-pie"></i></button><h2>Metrics</h2></div>
            <div class="manager-nav"><button id="managerSearchButton"><i class="fas fa-search"></i></button><h2>Search</h2></div>
        </div>
        <div class="manager-line">
                              
        </div>

        <div class="manager-line">
            <div class="manager-nav"><a href="./getchecked"><button><i class="far fa-check-square"></i></button></a><h2>Get All Checked</h2></div>
            <div class="manager-nav"><a href="./calendar"><button id="county-calendar"><i class="far fa-calendar-alt"></i></button></a><h2>Calendar</h2></div>
            <div class="manager-nav"><button id="checkProdButton"><i class="fas fa-file-signature"></i></button><h2>Check Production</h2></div>
            <div class="manager-nav"><a href="./countystatus"><button class="add-user" id="directory"><i class="fas fa-flag-usa"></i></button></a><h2>Directory</h2></div> 
            <div class="manager-nav" style="border: none;"></div>
            <div class="manager-nav"><a><button class="add-user" id="logoff"><i class="fas fa-power-off"></i></button></a><h2>Logoff</h2></div>  
        </div>

        <div class="manager-line">
            <hr>
        </div>

        <div class="process">
            <div class="manager-line">
                <h1>Process:</h1>
            </div>
        
            <section class="manager-section">
                <div class="manager-line">
                    <h2>Next Auction:</h2>
                </div>
            </section>
            
            <section class="manager-section">
                <div class="manager-line">
                    <h2>Stage 1:</h2>
                </div>
                
                <div class="manager-line">
                    <div><h3>How Many Parcels:</h3><h4 id="stage1-parcel-quant"></h4></div>
                    <div><h3>On Each Rank:</h3><h4 id="stage1-rank-quant"></h4></div>
                    <div><h3>Today:</h3><h4 id="stage1-result">+0</h4></div>
                </div>
            </section>
        
            <section class="manager-section">
                <div class="manager-line">
                    <h2>Stage 2:</h2>
                </div>
                
                <div class="manager-line">
                    <div><h3>How Many Parcels:</h3><h4 id="stage2-parcel-quant"></h4></div>
                    <div><h3>On Each Rank:</h3><h4 id="stage2-rank-quant"></h4></div>
                    <div><h3>Today:</h3><h4 id="stage2-result">+0</h4></div>
                </div>
            </section>
        
            <section class="manager-section">
                <div class="manager-line">
                    <h2>Stage 3:</h2>
                </div>
                
                <div class="manager-line">
                    <div><h3>How Many Parcels:</h3><h4 id="stage3-parcel-quant"></h4></div>
                    <div><h3>On Each Rank:</h3><h4 id="stage3-rank-quant"></h4></div>
                    <div><h3>Today:</h3><h4 id="stage3-result">+0</h4></div>
                </div>
            </section>
        
            <section class="manager-section">
                <div class="manager-line">
                    <h2>Total:</h2>
                </div>
                
                <div class="manager-line">
                    <div><h3>How Many Parcels:</h3><h4 id="total-parcel-quant"></h4></div>
                    <div><h3>&nbsp;	</h3></div>
                    <div><h3>Today:</h3><h4 id="total-result">+0</h4></div>
                </div>
            </section>
        </div>

        
        <div class="options" id="searchOptions">
            <div class="optContent">
                <div class="closeButtonDiv">
                    <button class="closeOptions" onclick="closeThis(this)"><i class="far fa-times-circle"></i></button>
                </div>
                <ul>
                    <a href="./searchbyparcel"><li>Search By Parcel</li></a>
                    <a href="./searchbyuser"><li>Search By User</li></a>
                    <a href="./searchbyrank"><li>Search By Rank</li></a>
                    <a href="./searchbycounty"><li>Search By County</li></a>           
                    <a href="./searchbyflow"><li>Search By Flow</li></a>

                    <a href="./searchbyrankandcounty"><li>&nbsp;</li></a>
                    <a href="./searchbyrankandcounty"><li>Search By Rank And County</li></a>
                    <a href="./searchbyrankcountyflow"><li>Search By Rank And County And Flow</li></a>

                    <!--<a href="./searchbystatus"><li>Search By Letter Status</li></a>-->
                    <!--<a href="./searchbylisttype"><li>Search By List Type</li></a>-->
                </ul>
            </div>
        </div>

        <div class="options" id="listOptions">
            <div class="optContent">
                <div class="closeButtonDiv">
                    <button class="closeOptions" onclick="closeThis(this)"><i class="far fa-times-circle"></i></button>
                </div>
                <ul>
                    <a href="./parcellist"><li>List By User</li></a>
                    <a href="./parcellistbysuper"><li>List By Supervisor</li></a>
                    
                </ul>
            </div>

        </div>

        <div class="options" id="prodOptions">
            <div class="optContent">
                <div class="closeButtonDiv">
                    <button class="closeOptions" onclick="closeThis(this)"><i class="far fa-times-circle"></i></button>
                </div>
                <ul>
                    <a href="./countycalendarbystate"><li>Production By State</li></a>
                    <!--<a href="./countycalendar"><li>Production By Date</li></a>-->
                    

                </ul>
            </div>
        </div>

        <div class="options" id="metricsOptions">
            <div class="optContent">
                <div class="closeButtonDiv">
                    <button class="closeOptions" onclick="closeThis(this)"><i class="far fa-times-circle"></i></button>
                </div>
                <ul>
                    <a href="./metrics"><li>V.A Metrics</li></a>
                    <a href="./managermetrics"><li>Manager Metrics</li></a>

                </ul>
            </div>
        </div>

    </section>
            
  

    <script src="/js/manager-controllers/manager.js"></script>
</body>
</html>
