<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/managerstyle.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <title>HUNTERFY MANAGER</title>
</head>
<body>
    <header>
        <div class="janela-header">
            <div class="logo"><a href="./manager"><img src="./img/Hunterfy.png" alt="Hunterfy logo"></a><h1>MANAGER v1.0</h1></div>
            <div class="user-container">
                <h2>My user:</h2>
                <h3 id="username"><%= user %></h3>
            </div>
        </div>
    </header>
    <section class="controller janela">
             <form id="search-form">
                 <h2>Metrics by:</h2>
                <div><label for="user">User</label><input type="text" id="user" name=""></div>
                <div><label>and by date:</label><input type="date" id="date" name=""></div>
                <button class="search-button">Metrics</button>
            </form>
    </section>
    <section class="program janela">
        <div class="dailyranks-container">
            
            <h1>Metrics by daily production:</h1>
            <div>
                <h2>Production count per hour:</h2>
                <canvas id="count-per-day"></canvas>
            </div>

            <h2>Rank count per day: rank1/rank2/rank3</h2>
            <div class="pizzas">
                <canvas id="count-rank1-per-day"></canvas>
                <canvas id="count-rank2-per-day"></canvas>
                <canvas id="count-rank3-per-day"></canvas>
            </div>
        </div>
        <div class="monthlyranks-container">
            <h1>Metrics by month production:</h1>
            <div>
                <h2>Production count per day:</h2>
                <canvas id="count-per-month"></canvas>
            </div>

            <h2>Rank count per month: rank1/rank2/rank3</h2>
            <div class="pizzas">
                <canvas id="count-rank1-per-month"></canvas>
                <canvas id="count-rank2-per-month"></canvas>
                <canvas id="count-rank3-per-month"></canvas>
            </div>

        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/manager-controllers/metricsControllers.js" async type="module"></script>
</body>
</html>