<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/managerstyle.css">
    <script src="https://kit.fontawesome.com/30836ed2bd.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/docx@7.1.0/build/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    

    <title>HUNTERFY MANAGER</title>
</head>
<body>
    <header>
        <div class="janela-header">
            <div class="logo"><a href="./manager"><img src="./img/Hunterfy.png" alt="Hunterfy logo"></a><h1>MANAGER v1.0</h1></div>
            <div class="user-container">
                <h2>My user:</h2>
                <h3 id="username"><%= user %></h3>
            </div>
        </div>
    </header>
    <section class="controller janela">
             <form id="search-form">
                <h2>Search</h2>
                <div>
                    <label for="parcel">By Flow:</label>
                    <select id="flowOptions">
                        <option value="">--</option>
                        <option value="Stage 1">Stage 1</option>
                        <option value="Stage 2">Stage 2</option>
                        <option value="Stage 3">Stage 3</option>
                        <option value="Purchased">Purchased property</option>
                        <option value="Sold">Property sold</option>
                    </select>
                </div>
                <div><label>Page:</label><input value="1" type="number" id="page" name=""></div>
                <button class="search-button">SEARCH</button>

                <h2>Generate Letters For All Parcels</h2>
                <div>
                    <label for="">Template:</label>
                    <select name="" id="templateforall" onfocus="loadTemplates(this)">
                        <option value="">--</option>
                    </select>
                </div>
                <button class="generate-letter">GENERATE FOR ALL</button>
            </form>
    </section>
    <section class="program janela">
        <h2 class="username"></h2>
        <div class="itens-container">
        </div>
    </section>

    <script src="js/manager-programs/manager.js" async></script>
    <script src="js/manager-controllers/searchbyflow.js" async></script>
    <script src="js/manager-programs/docx.js" async></script>
</body>
</html>
