/*
85603F
9E7540
BD9354
E3D18A
*/

h1, h2, h3, li, label{
    font-family: 'Montserrat', sans-serif;
    color: #F6E9E9;
}

header{
    height: 10vh;
    background-color: #a14418;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

body{
    background-color: #363333;
    
}

.logo{
    height: 100%;
    display: flex;
    align-items:center;
    color: white;
}

.logo img{
    height: 60%;
}

.logo h1{
    margin-top: 2vh;
}

.controller{
    background-color: #272121;
    height: 100vh;
    width: 10vw;
    position: fixed;
    z-index: 9;
    
}

.janela{
    padding: 4vh 2vw;
}

.valist-container{
    margin-top: 13vh;
}

.valist-container h2{
    font-weight: 900;
}

.valist button{
    border: none;
    background-color: transparent;
}

.valist button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.program {
    background-color:#363333;
    padding-left: 15vw;
    height: 82vh;

}

.username{
    margin-top: 10vh;
}

.columns{
    display: flex;
    width: 100%;
}

.columns li{
    width: 16.6666666%;
}

.title{
    font-weight: 700;
    margin-bottom: 0.5vh;
}

.username{
    font-size: 5vh;
    margin-bottom: 3vh;
}

.item{
    background-color: #423f3f;
    border-radius: 1vh;
    padding: 1vh;
    margin: 2vh 0;
}

.values{
    margin-bottom: 1.5vh;
}

form{
    margin-top: 3vh;
}

#search-form div{
    margin-bottom: 0.5vh;
}

#search-form input[type=text]{
    width: 90%;
    border: none;
    height: 4vh;
    font-size: 2vh;
    border-radius: 0.5vh;
    padding: 0 1vh;
}

#search-form input[type=date]{
    width: 90%;
    border: none;
    height: 4vh;
    font-size: 1.8vh;
    border-radius: 0.5vh;
    padding: 0 1vh;
}

.search-button{
    border: none;
    border-radius: 0.5vh;
    width: 100%;
    height: 5ch;
    background-color: #a14418;
}

::-webkit-scrollbar-thumb {
    background-color: #a14418;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
  }
  
  .values img{
      height: 3vh;
  }

  .values img:hover{
    transform: scale(10);
    transition: 1s;
    z-index: 12;
  }

  .submitrank{
    border: none;
    border-radius: 0.5vh;
    width: 100%;
    height: 5ch;
    background-color: #a14418;
  }