/*
85603F
9E7540
BD9354
E3D18
*/

h1, h2, h3, li, label, button{
    font-family: 'Montserrat', sans-serif;
    color: #F6E9E9;
}

input{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 10vh;
    background-color: #a14418;
    align-items: center;
    width: 30vw;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
}

body{
    background-color: #363333;
    
}

.janela-header{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    display: flex;
    align-items:center;
    color: white;
}

.logo a{
    text-decoration: none;
}

.logo img{
    height: 6vh;
}

.logo h1{
    margin-top: 2vh;
}

.controller{
    background-color: #272121;
    height: 100vh;
    width: 10vw;
    position: fixed;
    z-index: 9;
    margin-top: 9vh;
}

.janela{
    padding: 4vh 2vw;
}

.rankinput{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.rankinput label{
    font-size: 2vh;
}

.valist-container{
    margin-top: 13vh;
}

.valist-container h2{
    font-weight: 900;
}

.program {
    background-color:#363333;
    padding-left: 15vw;
    height: 82vh;
}

.username{
    margin-top: 10vh;
    font-size: 5vh;
    margin-bottom: 3vh;
}

/*.columns{
    display: flex;
    width: 100%;
    height: 4vh;
}

.columns li{
    width: 16.6666666%;
    font-size: 2vh;
}

.title{
    font-weight: 700;
    margin-bottom: 0.5vh;
}

.item{
    background-color: #423f3f;
    border-radius: 1vh;
    padding: 3vh;
    margin: 2vh 0;
}

.item:hover{
    background-color: #524e4e;
    transition: 0.5s;
}

.values{
    margin-bottom: 1.5vh;
}*/

/*new manager item*/
.manager-item{
    width: 81vw;
    background-color: #64635e;
    padding: 2vh;
    border-radius: 3px;
    margin-bottom: 2vh;
    transition: 1s;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1{
    font-size: 3vh;
    font-weight: 700;
}

.title h2{
    font-size: 3vh;
    font-weight: 600;
}

.images-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    height: 18vh;
}

.images-row div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
}

.images-row .image-row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-row h2{
    font-size: 3vh;
    font-weight: 500;
    color: rgb(202, 202, 202);
}

.item-columns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.accordion{
    height: 40vh;
    border-radius: 4px;
}

.accordion:hover{
    cursor: pointer;
    background-color: #74726c;
    transition: 0.5s;
}

.hide{
    display: none;
}

.column div{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
}

.column div h2{
    font-size: 3vh;
    font-weight: 500;
    color: rgb(202, 202, 202);
}

.column h3{
    height: 10vh;
    width: 18vw;
    word-wrap:break-word;
    color: rgb(29, 29, 29);
}

.rank1 h1{
    font-size: 3vh;
    color: rgb(202, 202, 202);
    font-weight: 600;
}

.rank1 h2{
    font-size: 2vh;
    font-weight: 500;
    color: rgb(202, 202, 202);
    
}

.rank1 div h3{
    font-size: 2vh;
    font-weight: 300;
    height: 6vh;
    width: 18vw;
    word-wrap:break-word;
    color: rgb(29, 29, 29);
}

.rank div{
    margin-top: 1vh;
}

.rank h1{
    font-size: 3vh;
    color: rgb(202, 202, 202);
    font-weight: 600;
}

.image-row img{
    max-width: 100%;
    max-height: 80%;
    border-radius: 3px;
}

.image-row img:hover{
    transform: scale(4);
    transition: 1s;
    z-index: 1000;
}

.item-menu{
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.item-menu div{
    width: 20vw;
    border-radius: 3px;
}

.rank div{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: baseline;
}

.rank input[type=text]{
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    color: white;
}

.rank .rank-button{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 1vh;
}

.rank .rank-button div{
    width: 40%;
}

.rank-button button{
    border: none;
    background-color:#a14418;
}

.rank-button button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.rank div h2{
    width: 7vw;
}

.rank .buyopt{
    display: flex;
    justify-content: flex-start;
}

.contrast:hover{
    background-color: #74726c;
    border-radius: 3px;
    transition: 1s;
}

.contrast{
    padding: 0.5vh;
}
/*new manager item*/

form{
    margin-top: 3vh;
}

#search-form div{
    margin-bottom: 0.5vh;
}

#search-form input[type=text]{
    width: 90%;
    border: none;
    height: 4vh;
    font-size: 2vh;
    border-radius: 0.5vh;
    padding: 0 1vh;
}

#search-form input[type=date]{
    width: 90%;
    border: none;
    height: 4vh;
    font-size: 1.8vh;
    border-radius: 0.5vh;
    padding: 0 1vh;
}

#search-form input[type=number]{
    width: 90%;
    border: none;
    height: 4vh;
    font-size: 2vh;
    border-radius: 0.5vh;
    padding: 0 1vh;
}

.search-button{
    border: none;
    border-radius: 0.5vh;
    width: 100%;
    height: 5ch;
    background-color: #a14418;
}

.search-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

::-webkit-scrollbar-thumb {
    background-color: #a14418;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}

.submitrank{
    border: none;
    border-radius: 0.5vh;
    width: 12.5vw;
    height: 5ch;
    background-color: #a14418;
    height: 4vh;
    font-size: 2vh;
}

.submitrank:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

/*.columns input{
    border: none;
    border-bottom: 2px white solid;
    background-color: transparent;
    color: white;
    font-size: 2vh;
    width: 12VW;
}
  
.values li{
    font-size: 2vh;
}*/

.register-program{
    width: 100%;
    display: flex;
    justify-content: center;
}

.register{
    margin: 0 auto;
    margin-top: 20vh;
    
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
}

.register div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

.register label{
    font-size: 2vh;
}

.register input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 3vh;
    font-size: 2vh;
    color: rgb(197, 197, 197);
}

.register h2{
    font-size: 3vh;
}

.submit-register{
    background-color:#a14418;
    margin-top: 3vh;
    height: 4vh;
    border: none;
    border-radius: 3px;
    font-size: 2vh;
}

.submit-register:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.manager {
    padding-top: 15vh;
    
}

.manager-line{
    display: flex;
    justify-content: space-between;
}

.manager-nav{
    width: 10vw;
    height: 10vw;
    border: white solid 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6vh;
}

.manager-nav:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.manager-nav button{
    font-size: 5vw;
    background-color: transparent;
    border: none;
}

.manager-nav button:hover{
    cursor: pointer;
    width: 100%;
    height: 100%;
}
/*
.inv{
    border: none;
}
#firstcolumn{
    height: 20vh;
}

#firstcolumn img{
    max-width: 80%;
    max-height: 20vh;
}

#firstcolumn img:hover{
    transform: scale(4);
    transition: 0.5s;
}

.accordion ul li{
    text-align: left;
}

.item div{
    margin-top: 2vh;
}

.content .values .columns{
    height: 10vh;
} 
*/

.accordion{
    width: 100%;
    background-color: transparent;
    border: none;
    height: 25vh;
}

#superusername{
    border: none;
    border-bottom: 1px white solid;
    background-color: transparent;
    color: white;
    font-size: 2vh;
}

.addrank2, .addrank3{
    background-color: #a14418;
    width: 8vw;
    height: 5vh;
    padding:1vh;
    margin-top: 1vh;
    margin: 2vh;
    border: none;
    border-radius: 0.5vh;
    color: white;
    
}

.addrank2{
    margin-left: 0;
}

.addrank2:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.addrank3:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.rank2data, .rank3data{
    background-color: rgb(48, 49, 49);
    width: 15vw;
    height: 16vh;
    margin-right: 5vw;
    border-radius: 1vh;
    margin: 0;
    margin-right: 5vw;
    margin-bottom: 5vh;
    padding: 1vh;
    
}

.rank2data input{
    width: 7vw;
}

.rank2data div{
    display: flex;
    justify-content: space-around;
    align-content: baseline;
}

.rank2data button{
    width: 6vw;
    background-color: #a14418;
    border: none;
    border-radius: 0.5vh;
}

.rank2data button:hover{
    cursor: pointer;
    
}

.rank3data input{
    width: 7vw;
}

.rank3data div{
    display: flex;
    justify-content: space-around;
    align-content: baseline;
}

.rank3data button{
    width: 6vw;
    background-color: #a14418;
    border: none;
    border-radius: 0.5vh;
}

.rank3data button:hover{
    cursor: pointer;
    
}

.addrankcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
}

.titleslog{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3vh;
    margin-bottom: 2vh;
}

.titleslog li{
    font-size: 3vh;
}

.log{
    display: flex;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3vh;
    background-color: #423f3f;
    margin-bottom: 1vh;    
}

.log li{
    width: 20%;
}

/* login page */
.login{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 99vw;
    height: 99vh;
}

.janela-login{
    background-color: #a14418;
    border-radius: 1vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    box-shadow:  6px -4px 15px black;
}

.janela-login div{
    width: 20vw;
}

.login-form div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    align-items: center;
}

.login-form input{
    border: none;
    background-color: transparent;
    border-bottom: white 1px solid;
    color: white;
    font-size: 2vh;
}

.login-button{
    text-align: center;
    
}

.login-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-logo img{
    height: 8vh;
}

.login-logo h2{
    margin-top: 3vh;
}

.login-form .login-button{
    background-color: #272121;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
    margin-top: 2vh;
    border-radius: 1vh;
}

.login-form .login-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}
/* metrics */
.pizzas{
    display: flex;
    
}

.dailyranks-container{
    margin-top: 10vh;
    padding: 2vh;
    background-color: #4e4d4d;
    border-radius: 3px;
    margin-bottom: 2vh;
}

.dailyranks-container h1{
    font-size: 4vh;
    font-weight: 800;
}

.dailyranks-container div{
    margin-bottom: 1vh;
}

.monthlyranks-container{
    padding: 2vh;
    background-color: #4e4d4d;
    border-radius: 3px;
    margin-bottom: 3vh;
}

.monthlyranks-container h1{
    font-size: 4vh;
    font-weight: 800;
}

.monthlyranks-container div{
    margin-bottom: 1vh;
}
